body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}

h2 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.middle-container {
    background-color: #ffff;
    position: relative;
    padding-top: 100px;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.profilepng {
    object-fit: cover;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

.brain-img {
    width: 250px;
}

.chicken-wing{
    width: 250px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}       

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.bottom-container {
    margin-top: 111px;
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.contact-me {
  grid-column: 1 / -1;   /* foglalja el az egész sort a gridben */
  text-align: center;    /* felülírja a .parent text-align: left-et */
  margin-top: 100px;     /* kis hely a skill-ek után */
}
.contact-me .contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
